name: Linux DevOps CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
      - uses: actions/checkou@v4

      - name: Set up Docker
        uses: docker/setup-buildx-actions@v3

      - name: Build Docker image
        run: |
          docker build \
           -f docker/Dockerfile \
           -t linux-docker-basics:day9 \
           .

      - name: Verify Docker image
        run: docker images
